<div class="card">
	<div class="card-header">
		<h4 class="card-title">Libros usando un servicio para consultar Google API</h4>
	</div>
	<div class="card-body">
		<div class="form-group">
			<label for="busqueda">Clave de búsqueda</label>
			<input type="text" id="busqueda" name="" class="form-control"
			[(ngModel)]="clave">
		</div>
		<button class="btn btn-secondary" (click)="btnBuscar()">Buscar</button>
	</div>
	<div class="card-footer text-muted">
		<div *ngIf="aLibros.length">
			<p class="h4">Resultado</p>
			<ul>
				<li *ngFor="let libro of aLibros">{{ libro }}</li>
			</ul>
		</div>
	</div>
</div>
